.header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.test {
  background-color: aliceblue;
}

.list-styles {
  border: 1px solid rgb(115, 115, 115);
  padding: 4px;
  border-radius: 4px;
  background-color: bisque;
}
